<!DOCTYPE html>
<html lang="en">
<head>
    <title>James Feore's Learning Journal - View Entry</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="container-fluid row">
        <div class="nav-link">
            <a href="/">Learning Journal</a>
        </div>
    </header>
    <main class="container">
        <div class="row" id="detail-entry">
            <h2>James Feore - Day 11/12</h2>
            <div class="byline">By James Feore (sea401d6) — Tuesday, 30 May, 2017, 10:35 pm</div>
            <div class="post-body">
            I'm so excited to be working with my first framework. It was cool building our own servers, and it really helps me appreciate how much easier this is. It's remarkable how much easier it is to build a web app now than it was only a few weeks ago. Something that would have taken a week to do as a team, and I can now do in a day. Even something like wireframing the site was so simple that I had time to learn Bootstrap while I was at it.
            </div>
            <a href="/journal/1/edit-entry"><input type="button" class="btn btn-primary" value="Edit Entry"></a>
            <hr>
        </div>
    </main>
</body>
</html>