<!DOCTYPE html>
<html lang="en">
<head>
    <title>James Feore's Learning Journal - View Entry</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="container-fluid row">
        <div class="nav-link">
            <a href="/">Learning Journal</a>
        </div>
    </header>
    <main class="container">
        <div class="row" id="detail-entry">
            <h2>Entry #1</h2>
            <div class="byline">By James Feore (401 Python) — May 30, 2017</div>
            <div class="post-body">
            I don't know what's going on. Let's see if all this nonsense works.
            </div>
            <a href="/journal/1/edit-entry"><input type="button" class="btn btn-primary" value="Edit Entry"></a>
            <hr>
        </div>
    </main>
</body>
</html>