{% extends "layout.jinja2" %}
{% block content %}
    <div class="row" id="detail-entry">
        <h2>{{ title }}</h2>
        <div class="byline">By {{ author }} — {{ date }}</div>
        <div class="post-body">{{ text }}</div>
        {% if userauth %}
        <a href="/journal/{{ id }}/edit-entry"><input type="button" class="btn btn-primary" value="Edit Entry"></a>
        {% endif %}
        <hr>
    </div>
{% endblock %}