<!DOCTYPE html>
<html lang="en">
<head>
    <title>James Feore's Learning Journal - Edit Entry</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="container-fluid row">
        <div class="nav-link">
            <a href="/">Learning Journal</a>
        </div>
    </header>
    <main class="container">
        <div class="row" id="detail-entry">
            <div class="form-group">
                <label class="input-header">Title</label>
                <input type="text" id="input-title" value="Sample title">
            </div>
            <div class="form-group">
                <label class="input-header">Entry</label>
                <textarea id="input-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet ligula a ex volutpat tincidunt. Mauris orci diam, blandit non nulla eget, imperdiet imperdiet justo. Maecenas dapibus dolor quam, eget maximus orci molestie vitae. Mauris sit amet eros tortor. Sed quis ante eu lorem varius gravida. Quisque vestibulum lobortis mauris sed euismod. Nunc sit amet blandit dolor, a sagittis ex. In dapibus magna vitae eros convallis, eget molestie ligula auctor. Quisque sit amet ex in lacus lacinia accumsan. Duis sagittis lacus mi, a cursus nibh facilisis non. Fusce accumsan augue augue, nec efficitur leo tempus quis. Donec gravida placerat velit, quis interdum nisi ornare eget. Morbi quis erat eros. Nunc fermentum, ipsum ac auctor pharetra, odio tortor tincidunt velit, sed placerat risus urna id augue.</textarea>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-primary" value="Save Changes">
                <input type="button" class="btn btn-default" value="Add a New Entry">
            </div>
        </div>
    </main>
</body>
</html>