{% extends "layout.jinja2" %}
{% block header %}    
    <header class="container-fluid row">
        <div class="nav-link">
            <a href="/">Learning Journal</a>
        </div>
    </header>
{% endblock %}