<!DOCTYPE html>
<html lang="en">
<head>
    <title>James Feore's Learning Journal - Home</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="container-fluid row">
        <div class="nav-link">
            <a href="/">Learning Journal</a>
        </div>
    </header>
    <main class="container">
        <div class="row">
            <h1>Today I Learned ... <small>401 Python Learning Journal</small></h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="row pager-row">
                    <span class="pager">1</span>
                    <a href="#"><span class="pager next-link">2</span></a>
                    <a href="#"><span class="pager next-link">3</span></a>
                    <span class="pager">..</span>
                    <a href="#"><span class="pager next-link">11</span></a>
                </div>
                <div class="row entry-row">
                    <h2><a href="/journal/1">James Feore - Day 11/12</a></h2>
                    <div class="byline">By James Feore (sea401d6) — Tuesday, 30 May, 2017, 10:35 pm</div>
                    <div class="post-body">
                    I'm so excited to be working with my first framework. It was cool building our own servers, and it really helps me appreciate how much easier this is. It's remarkable how much easier it is to build a web app now than it was only a few weeks ago. Something that would have taken a week to do as a team, and I can now do in a day. Even something like wireframing the site was so simple that I had time to learn Bootstrap while I was at it.
                    </div>
                </div>
                <div class="row entry-row">
                    <h2><a href="/journal/1">Another entry</a></h2>
                    <div class="byline">By username (class) — Date</div>
                    <div class="post-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet ligula a ex volutpat tincidunt. Mauris orci diam, blandit non nulla eget, imperdiet imperdiet justo. Maecenas dapibus dolor quam, eget maximus orci molestie vitae. Mauris sit amet eros tortor. Sed quis ante eu lorem varius gravida. Quisque vestibulum lobortis mauris sed euismod. Nunc sit amet blandit dolor, a sagittis ex. In dapibus magna vitae eros convallis, eget molestie ligula auctor. Quisque sit amet ex in lacus lacinia accumsan. Duis sagittis lacus mi, a cursus nibh facilisis non. Fusce accumsan augue augue, nec efficitur leo tempus quis. Donec gravida placerat velit, quis interdum nisi ornare eget. Morbi quis erat eros. Nunc fermentum, ipsum ac auctor pharetra, odio tortor tincidunt velit, sed placerat risus urna id augue.
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <a href="/journal/new-entry"><input type="button" class="btn btn-primary" value="Add a New Entry"></a>
            </div>
        </div>
    </main>
</body>
</html>