{% extends "layout.jinja2" %}
{% block new-entry %}
    <div class="row" id="detail-entry">
        <div class="form-group">
            <label class="input-header">Title</label>
            <input type="text" id="input-title">
        </div>
        <div class="form-group">
            <label class="input-header">Entry</label>
            <textarea id="input-text"></textarea>
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-primary" value="Save Changes">
            <input type="button" class="btn btn-default" value="Add a New Entry">
        </div>
    </div>
{% endblock %}